* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-parent {
    background-image: url(../img/theme/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
